<ion-header>
  <ion-toolbar>
    <ion-title>
      ¿Quién quiere ser millonario?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="fondo">
  <ion-grid>
  	<ion-row text-center>
  	  	<ion-col col-12 col-md-6 col-lg-4 col-xl-3>
		  <img src="../../assets/img/logo.png">
		  <p>
		  	Demuestra tus conocimientos en cultura general, historia, etc. y conviértete en alguien
		  	asquerosamente rico.
		  </p>
		  <ion-button color="primary" href="/preguntas" routingDirection="forward">
		  	¡Quiero ser millonario!
		  </ion-button>
		</ion-col>
	</ion-row>
  </ion-grid>
</ion-content>
